@model IEnumerable<EmoployeeViewModel>


@{
    ViewData["Title"] = "All Emolpyee";
}

<a asp-action="Create" class="btn btn-success">Crate new Employee</a>
<br />
@if (Model.Count() > 0)
{
    <h1>All Employees</h1>
    <br />
    <form class="row offset-2" asp-action="index">
        <div class="col-8">
            <input class="form-control" type="text" name="SearchValue" placeholder="Employee s name" />
        </div>
        <div class="col-4">
            <input type="submit" class="btn btn-info" value="Search" />
        </div>
    </form>
    <table class="table table-striped table-hover mt-3">
        <thead>
            <tr>

                <td>@Html.DisplayNameFor(D => D.Image)</td>
                <td>@Html.DisplayNameFor(D => D.Name)</td>
                <td>@Html.DisplayNameFor(D => D.Age)</td>
                <td>@Html.DisplayNameFor(D => D.Salary)</td>
                <td>@Html.DisplayNameFor(D => D.Department)</td>
                <td>@Html.DisplayNameFor(D => D.Address)</td>
                <td>@Html.DisplayNameFor(D => D.Email)</td>
                <td>@Html.DisplayNameFor(D => D.PhoneNumber)</td>
                <td>@Html.DisplayNameFor(D => D.HireDate)</td>
                <td>@Html.DisplayNameFor(D => D.IsActive)</td>
                <td>Details</td>
                <td>Update</td>
                <td>delete</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>


                    <td> <img src="~/Files/Images/@employee.ImageName" class="rounded" height="40" width="40" alt="employee image" /></td>
                    <td> @employee.Name</td>
                    <td> @employee.Age</td>
                    <td> @Html.DisplayFor(E => employee.Salary)</td>
                    <td> @Html.DisplayFor(E => employee.Department.Name)</td>
                    <td> @employee.Address</td>
                    <td> @Html.DisplayFor(E => employee.Email)</td>
                    <td> @employee.PhoneNumber</td>
                    <td> @employee.HireDate</td>
                    <td>
                        @if (employee.IsActive == true)
                        {
                            <i class="fa-solid fa-circle " style="color:green"></i>
                        }
                      else{
                        <i class="fa-solid fa-circle " style="color:red"></i>
                      }
                      </td>

                    <partial name="_ButtonsPartialView" model="@employee.Id" />
                </tr>
            }

        </tbody>
    </table>
}
else
{
    <div class="mt-5 alert alert-warning"> there is no Employees</div>
}


